header{
    display: flex;
    background-color: white;
}

footer{
    display: flex;
    background-color: white;
    padding:2.5em;
}

main{
    background-color: #F8FFA9;
    padding:4em;
}

header a{
    color: inherit;
    text-decoration: inherit;
}

header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border:1px solid #ccc;
}

.buscador input{
    background-color: #383838;
    color: #D9D9D9;
    border:none;
    border: solid 1px #ccc;
    border-radius: 22px 0px 0px 22px;
    text-align: center;
}

.buscador button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 18.5px;
    border: none;
    cursor: pointer;
    border-radius: 0px 22px 22px 0px;
}

.buscador button:hover {
    background: #ccc;
}

.logo{
    background-color: white;
}

.logo:hover{
    background-color:#ededed;
    cursor:pointer;
}

.botones-paginas:hover{
    border-radius: 1em;
    background-color:#ededed;
    cursor: pointer;
}

.botones-paginas h3{
    display: flex;
    justify-content: center;
    margin: 0 0.75em 0 0.75em;
}

.paginas{
    display: flex;
    align-items: center;
}

.items-derecha{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.info-pag{
    display:flex;
    align-items: center;
}

.info-pag-texto{
    margin-left: auto;
    max-width: 25%;
}

.info-pag-texto p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
    color: rgba(43, 51, 130, 0.96);
    opacity: 0.6;
}

.carousel{
    width: 640px !important;
    height: 360px !important;
    display: flex;
    margin-left:auto;
    margin: 5em 10em 0 auto;
}

.carousel-inner img { 
    border-radius: 2em;
    width: 640px !important;
    height: 360px !important;
}

.info2-pag{
    margin: 5em 0 5em 7.5em;
    max-width: 40%;
}

.info2-pag-texto{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #000000;
}

.form-login{
    width: 420px;
    background-color: #D9D9D9;
    padding: 46px;
    margin: auto;
    text-align: center;
}

.form-login h4{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: -16px;
}

.campos-rellenar{
    width: 100%;
    background-color: #FFFFFD;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px;
    font-family: sans-serif;
    font-weight: 800;
    color: #adadad;
    padding-left: 30px;
}

.form-login p{
    height: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}

.form-login a{
    text-decoration: none;
    font-weight: 500;
    color:#091DD0;
}

.form-login a:hover{
    text-decoration: underline;
}

#forget{
    font-size: 14px;
}

#nuevo-usuario{
    font-size: 18px;
    font-weight: 500;
}

.form-login .botones{
    width: 100%;
    background-color: rgba(238, 225, 108, 0.94);
    border: none;
    padding: 1px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D4D0D0;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D4D0D0;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #D4D0D0;
}

.tituloproyectos{

    position:sticky;
    margin-bottom: 500px;
    width: 977px;
    height: 172px;
    left: 513px;
    top: 227px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
    
    color: #000000;
    
}
.form-proyecto{

    width: 500px;
    background-color: #D9D9D9;
    padding: 46px;
    margin: auto;
    text-align: center;
}

.form-proyecto .botones{
    width: 100%;
    background-color: rgba(238, 225, 108, 0.94);
    border: none;
    padding: 1px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
}

.form-proyecto p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;

    color: #000000;
}
.form-proyecto div{
    margin: 0;
    display: flex;
    margin-bottom: 20px;
}
