header {
  display: flex;
  background-color: white;
}
header a {
  color: inherit;
  text-decoration: inherit;
}
header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #ccc;
}

footer {
  display: flex;
  background-color: white;
  padding: 2.5em;
}

main {
  background-color: #F8FFA9;
  padding: 4em;
}

footer {
  padding: 5em;
}
footer p {
  margin: auto;
}

.buscador input {
  background-color: #383838;
  color: #e4e4e4;
  border: none;
  border: solid 1px #ccc;
  border-radius: 22px 0px 0px 22px;
  text-align: center;
}
.buscador button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 18.5px;
  border: none;
  cursor: pointer;
  border-radius: 0px 22px 22px 0px;
}
.buscador button:hover {
  background: #ccc;
}

.logo {
  background-color: white;
}
.logo :hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.botones-paginas {
  padding: 10px;
}
.botones-paginas :hover {
  border-radius: 30px;
  background-color: #e4e4e4;
  cursor: pointer;
}
.botones-paginas h3 {
  display: flex;
  justify-content: center;
  margin: 0 0.75em 0 0.75em;
  font-weight: 700;
  color: #363636;
}

.paginas {
  display: flex;
  align-items: center;
}

.items-derecha {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 40px;
}

.items-derecha h3 {
  color: #363636;
  display: flex;
  text-align: center;
}

.info-pag {
  display: flex;
  align-items: center;
}

.info-pag-texto {
  max-width: 25%;
}
.info-pag-texto p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 88px;
  color: #afafaf;
  opacity: 0.85;
}

.carousel {
  width: 640px !important;
  height: 360px !important;
  display: flex;
  margin-left: auto;
  margin: 5em 10em 0 auto;
}

.carousel-inner img {
  border-radius: 2em;
  width: 640px !important;
  height: 360px !important;
}

.info2-pag {
  margin: 5em 0 5em 7.5em;
  max-width: 40%;
}

.info2-pag-texto {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #363636;
}

.form-login {
  width: 420px;
  background-color: #D9D9D9;
  padding: 46px;
  margin: auto;
  text-align: center;
}
.form-login h3 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
}
.form-login h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 50px;
  margin-bottom: 16px;
  margin-top: -16px;
}
.form-login p {
  height: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}
.form-login a {
  text-decoration: none;
  font-weight: 500;
  color: #091DD0;
}
.form-login a:hover {
  text-decoration: underline;
}
.form-login .botones {
  width: 100%;
  background-color: rgba(238, 225, 108, 0.94);
  border: none;
  padding: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 50px;
}
.form-login div {
  margin: 0;
  display: flex;
  margin-bottom: 20px;
}
.form-login label {
  display: flex;
}

.campos-rellenar {
  width: 100%;
  background-color: #FFFFFD;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px;
  font-family: sans-serif;
  font-weight: 800;
  color: #adadad;
  padding-left: 30px;
}

.checkbox {
  margin-top: 10px;
  display: flex;
}
.checkbox input {
  margin-right: 4px;
}

#verMas {
  font-size: 50px;
  margin-left: 340px;
}

#forget {
  font-size: 14px;
}

#nuevo-usuario {
  font-size: 18px;
  font-weight: 500;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D4D0D0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D4D0D0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #D4D0D0;
}

.tituloproyectos {
  padding: 30px;
  text-align: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 88px;
  color: black;
}

.form-proyecto {
  width: 420px;
  background-color: #D9D9D9;
  padding: 46px;
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 46px;
}
.form-proyecto h3 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
}
.form-proyecto h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 50px;
  margin-bottom: 16px;
  margin-top: -16px;
}
.form-proyecto p {
  height: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}
.form-proyecto a {
  text-decoration: none;
  font-weight: 500;
  color: #091DD0;
}
.form-proyecto a:hover {
  text-decoration: underline;
}
.form-proyecto .botones {
  width: 100%;
  background-color: rgba(238, 225, 108, 0.94);
  border: none;
  padding: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 50px;
}
.form-proyecto div {
  margin: 0;
  display: flex;
  margin-bottom: 20px;
}
.form-proyecto label {
  display: flex;
}

.blue-title {
  text-align: center;
  margin-bottom: 3%;
}
.blue-title h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: darkslateblue;
}

.top-info {
  max-width: 640px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  margin-bottom: 2.5%;
}
.top-info img {
  max-width: 640px;
  padding: 1%;
}

#l2 {
  height: 473.89px;
}

.bottom-info {
  display: flex;
  margin-left: 15%;
  margin-bottom: 2.5%;
  max-width: 1300px;
}
.bottom-info img {
  width: 230%;
  height: 100%;
  padding-left: 0.4em;
  padding-right: 1em;
}

.faq {
  text-align: left;
  margin: auto;
  max-width: 50%;
}
.faq h2 {
  padding-bottom: 2%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 36px;
  color: #000000;
}
.faq h3 {
  padding-bottom: 2%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.titulo-proyecto h1 {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 85px;
  color: darkslateblue;
}

.info-proyecto h3 {
  text-align: left;
  margin-left: 30px;
  margin-bottom: auto;
  max-width: 500px;
  max-height: 500px;
  font-size: 34px;
}
.info-proyecto img {
  width: 700px;
  height: 700px;
  left: 132px;
  top: 322px;
}
.info-proyecto .conjunto {
  display: flex;
}
.info-proyecto .botones {
  width: 350px;
  height: 150px;
  background-color: rgba(238, 225, 108, 0.94);
  border: none;
  padding: 1px;
  margin: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 50px;
}

.titulo-proyectos h1 {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 85px;
  color: darkslateblue;
}

.fotos-abajo img {
  width: 550px;
  height: 562px;
  padding-left: 0.4em;
  padding-right: 1em;
}

.detalle-proyecto {
  align-items: center;
}

.detalle-proyecto-superior {
  display: flex;
  position: relative;
}

.detalle-proyecto-box {
  display: flex;
  height: 80vh;
}

.detalle-proyecto-texto {
  margin-left: auto;
  max-width: 45%;
}
.detalle-proyecto-texto p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: rgba(58, 63, 107, 0.96);
  opacity: 0.9;
  text-align: justify;
  text-justify: inter-word;
}

.detalle-proyecto-superior-izquierda {
  width: 50vw;
  min-width: 300px;
}
.detalle-proyecto-superior-izquierda h1 {
  padding-bottom: 10px;
}
.detalle-proyecto-superior-izquierda h4 {
  padding-left: 20px;
}

.detalle-proyecto-superior-derecha {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
  color: darkslateblue;
}
.detalle-proyecto-superior-derecha button {
  float: right;
  padding: 10px;
  background-color: darkslateblue;
  font-size: 20px;
  border: none;
  cursor: pointer;
  min-width: 300px;
}
.detalle-proyecto-superior-derecha a {
  text-decoration: none;
  color: white;
}
.detalle-proyecto-superior-derecha a:hover {
  text-decoration: none;
}

.tabla-resultados-busqueda {
  min-height: 50vh;
}

.carousel-caption.d-none.d-md-block a {
  text-decoration: none;
  color: #fff;
}

.carousel-caption.d-none.d-md-block a:hover {
  text-decoration: underline;
}

#form {
    width: 420px;
    background-color: #D9D9D9;
    padding: 46px;
    margin: auto;
    text-align: center;
}

#form h4{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: -16px;
}

.campos-rellenar{
    width: 100%;
    background-color: #FFFFFD;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px;
    font-family: sans-serif;
    font-weight: 800;
    color: #adadad;
    padding-left: 30px;
}

#form p{
    height: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}

#form a{
    text-decoration: none;
    font-weight: 500;
    color:#091DD0;
}

#form a:hover{
    text-decoration: underline;
}


#form1 {
    width: 420px;
    background-color: #D9D9D9;
    padding: 46px;
    margin: auto;
    text-align: center;
}

#form1 h4{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: -16px;
}

#form1 p{
    height: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}

#form1 a{
    text-decoration: none;
    font-weight: 500;
    color:#091DD0;
}

#form1 a:hover{
    text-decoration: underline;
}


.checkbox{
    margin-top: 10px;
    display: flex;
}

.checkbox input{
    margin-right: 4px;
}


#verMas{
    font-size: 50px;
    margin-left: 340px;
}

#forget{
    font-size: 14px;
}

#nuevo-usuario{
    font-size: 18px;
    font-weight: 500;
}

#form .boton-register{
    width: 100%;
    background-color: rgba(238, 225, 108, 0.94);
    border: none;
    padding: 1px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
}

#form1 .boton-login{
    width: 100%;
    background-color: rgba(238, 225, 108, 0.94);
    border: none;
    padding: 1px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D4D0D0;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D4D0D0;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #D4D0D0;
}

.tituloproyectos{

    position:sticky;
    margin-bottom: 500px;
    width: 977px;
    height: 172px;
    left: 513px;
    top: 227px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
    
    color: #000000;
    
}

.form-proyecto{

    width: 500px;
    background-color: #D9D9D9;
    padding: 46px;
    margin: auto;
    text-align: center;
}

.form-proyecto .botones{
    width: 100%;
    background-color: rgba(238, 225, 108, 0.94);
    border: none;
    padding: 1px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
}

.form-proyecto p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;

    color: #000000;
}

.form-proyecto div{
    margin: 0;
    display: flex;
    margin-bottom: 20px;
}

.blue-title{
    text-align: center;
    margin-bottom: 3%;
}  

.blue-title h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #2B3382;
}

.top-info{
    max-width: 640px;
    text-align: left;
    display:flex;
    margin-left: 15%;
    margin-bottom: 2.5%;
}

.top-info img{
    max-width: 640px;
    padding: 1%;
}

#l2{
    height: 473.89px;
}

.bottom-info{
    display:flex;
    margin-left: 15%;
    margin-bottom: 2.5%;
    max-width: 1300px;
}

.bottom-info img{
    width: 230%;
    height: 100%;
    padding-left: 0.4em;
    padding-right: 1em;
}

.faq{
    text-align: left;
    margin: auto;
    max-width: 50%;
}

.faq h2{
    padding-bottom: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 36px;

    color: #000000;
}

.faq h3{
    padding-bottom: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}
.titulo-proyecto h1{

    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    line-height: 85px;
    color: #000000;
}

.info-proyecto h3{

    text-align: left;
    margin-left: 30px;
    margin-bottom: auto;
    max-width: 500px;
    max-height: 500px;
    font-size: 34px;
}
.info-proyecto img{

    width: 700px;
    height: 700px;
    left: 132px;
    top: 322px;

}
.info-proyecto .conjunto{
    display: flex;
}
.info-proyecto .botones{

    width: 350px;
    height: 150px;
    background-color: rgba(238, 225, 108, 0.94);
    border: none;
    padding: 1px;
    margin: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
}


.titulo-proyectos h1{

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    line-height: 85px;
    color: #000000;
}

.fotos-abajo img{
    width: 550px;
    height: 562px;
    padding-left: 0.4em;
    padding-right: 1em;
}

.detalle-proyecto{
    align-items: center;
}

.detalle-proyecto-superior{
    display: flex;
    position: relative;
}

.detalle-proyecto-box{
    display: flex;
    height: 80vh;
}

.detalle-proyecto-texto{
    margin-left: auto;
    max-width: 45%;
}

.detalle-proyecto-texto p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: rgba(58, 63, 107, 0.96);
    opacity: 0.9;
    text-align: justify;
    text-justify: inter-word;
}
.detalle-proyecto-superior-izquierda{
    width: 50vw;
    min-width: 300px;
}

.detalle-proyecto-superior-izquierda h1{
    padding-bottom: 10px;
}

.detalle-proyecto-superior-izquierda h4{
    padding-left: 20px;
}

.detalle-proyecto-superior-derecha{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
    color: darkslateblue;
}

.detalle-proyecto-superior-derecha button{
    float: right;
    padding: 10px;
    background-color: darkslateblue;
    font-size: 20px;
    border: none;
    cursor: pointer;
    min-width: 300px;
}

.detalle-proyecto-superior-derecha a{
    text-decoration: none;
    color:white;
}

.detalle-proyecto-superior-derecha a:hover{
    text-decoration: none;
}

.tabla-resultados-busqueda{
    min-height: 50vh;
}

.carousel-caption.d-none.d-md-block a{
    text-decoration: none;
    color: #fff;
}

.carousel-caption.d-none.d-md-block a:hover{
    text-decoration: underline;
}

.inputC input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 13px;
	width: 100%;
}

.inputC input:focus {
    outline: 0;
}

.inputC.success input{
    border-color: #09c372;
}

.inputC .error input{
    border-color: #ff3860;
}

.inputC .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/*# sourceMappingURL=styles.css.map */
