@import "/src/styles/variables";

.fotitos{
    width: 100%;
    max-width: 640px;
    height: auto;
}

.titulo2{
    font-family: "Inter";
    font-style: normal;
    font-size: calc(1.75rem + 2vw);
    text-align: center;
    font-weight: 800;
    color: $color_titulo_2;
}

.ola{
    font-size: calc(1.325rem + 0.1vw);
}

.ola2{
    font-size: calc(1rem + 0.3vw);
}
