// Colores
$color-principal: #f8ffa9;
$color-secundario: white;
$color-titulo-1: black;
$color-titulo-2: darkslateblue;
$color-texto-1: #1d1d1d;
$color-texto-2: #363636;
$color-texto-3: #686868;
$color-texto-4: #8d8d8d;
$color-texto-5: #afafaf;
$color-texto-6: #e4e4e4;
$color-form: #d9d9d9;
