// Colores
$color_principal: #f8ffa9;
$color_secundario: white;
$color_titulo_1: black;
$color_titulo_2: darkslateblue;
$color_texto_1: #1d1d1d;
$color_texto_2: #363636;
$color_texto_3: #686868;
$color_texto_4: #8d8d8d;
$color_texto_5: #afafaf;
$color_texto_6: #e4e4e4;
$color_form: #d9d9d9;
$visitado: rgb(88, 80, 138);

// Font

$familia1: "Roboto", sans-serif;
